<footer>
  <div>
    <ul>
      <li>
        <a class="" href="">
          <svg class="footer-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="" href="">
          <svg class="footer-icon">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="" href="">
          <svg class="footer-icon">
            <use href="./img/icons.svg#icon-linkidin"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="" href="">
          <svg class="footer-icon">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <p>Copyright&#169; 2021 - FinanceLedger</p>
  </div>
</footer>
